<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96106539596-4davatj3ile5fodd06sr816urk63t72a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96106539596-4davatj3ile5fodd06sr816urk63t72a</string>
	<key>API_KEY</key>
	<string>AIzaSyDFDqPEF-0GiKxnApXgb0RcFNVMa2rhBRw</string>
	<key>GCM_SENDER_ID</key>
	<string>96106539596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ivanenko2010-gmail.com.Postergram</string>
	<key>PROJECT_ID</key>
	<string>postergram-6c46b</string>
	<key>STORAGE_BUCKET</key>
	<string>postergram-6c46b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96106539596:ios:9959d33d82dc89f4fd22e9</string>
</dict>
</plist>